:root {
    // COLORS
    --primary-color: #FF9500;
    --secondary-color: #9D548A;
    --light-color: #F8F8FF;
    --dark-color: #0C0C0C;
    --success-color: #008F28;

    // FONT SIZE
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-md: 1rem;
    --text-xl: 1.5rem;
    --text-2xl: 2rem;
    --text-3xl: 3rem;

    // FONT WEIGHT
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-black: 800;
}