<article>
    <h1>Mentions légales</h1>
    <section>
        <p>
            <span class="subtitle">Directeur de la publication :</span><br>
            Cécile David est la directrice de la publication de ce site.
        </p>
        <p>
            <span class="subtitle">Identification :</span><br>
            Cécile David<br>
            Avocat<br>
            13 rue de Constantine 76 000 ROUEN<br>
            02 35 88 74 83<br>
            ceciledavid@scp-dubos.fr<br>
            Siret : 445 096 662 00017
        </p>
        <p>
            <span class="subtitle">Hébergement :</span><br>
            Le présent site est hébergé sur Google Cloud.
        </p>
        <p>
            <span class="subtitle">Webmaster :</span><br>
            Le présent site a été conçu par Christophe CHICHMANIAN.
        </p>
    </section>
</article>