@import '../style/sizes';

footer {
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    
    a {
        color: var(--dark-color);
    }
}

@media screen and (max-width: $md) {
    footer {
        flex-direction: column;
    }
}

@media screen and (min-width: $md) {
    footer {
        margin-top: 5rem;
    }
}