<nav>
    <input type="checkbox" name="nav_toggle" id="nav_toggle" class="nav-toggle" #close>
    <label for="nav_toggle" class="nav-toggle-label">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <ul>
        <li class="nav-link" #item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/">accueil</a>
        </li>
        <li class="nav-link" #item routerLinkActive="active">
            <a routerLink="/domaines-intervention">domaines d'intervention</a>
        </li>
        <li class="nav-link" #item routerLinkActive="active">
            <a routerLink="/honoraires">honoraires</a>
        </li>
        <li class="nav-link" #item routerLinkActive="active">
            <a routerLink="/contact">contact</a>
        </li>
        <li #highlight class="highlight hidden">&nbsp;</li>
    </ul>
</nav>