<app-page-heading>
    <h1>Parlons<br>honoraires</h1>
    <img src="../../assets/images/honoraires.jpg" alt="">
</app-page-heading>
<article class="pricing-details">
    <div class="section-title">
        <hr>
        <h2>Des&nbsp;<span>honoraires</span><br>pour vous,<br>avec vous</h2>
    </div>
    <section>
        <div class="section-content">
            <p>Une des questions que vous pouvez légitimement vous poser est :</p>
            <q>“Prendre conseil auprès d'un Avocat, est-ce que ça coûte cher ?”</q>
            <p>Les honoraires d'un Avocat sont fixés <strong>librement</strong>.</p>
            <p>Différents modes de fixation des honoraires existent :</p>
            <ul>
                <li>Forfait</li>
                <li>Taux horaire pour les procédures les plus complexes / longues</li>
                <li>Honoraire de résultat avec une base forfaitaire</li>
                <li>Une prise en charge totale ou partielle par la protection juridique</li>
                <li>L'aide juridictionnelle</li>
            </ul>
            <p>La fixation des honoraires est faite, par l'avocat et le client.</p>
            <p>Nous décidons <strong>ensemble</strong> du montant des honoraires, mais aussi de l'échelonnement de vos règlements.</p>
            <p>Dans tous les cas, une <strong>convention d'honoraires</strong> sera conclue.</p>
        </div>
        <div class="section-picture">
            <img src="../../assets/images/tarifs.jpg" alt="">
        </div>
    </section>
</article>
<app-go-to-contact></app-go-to-contact>