<article class="fullscreen main-screen">
    <section class="main-screen-content-wrapper">
        <div class="main-screen-content">
            <h1>Maître<span>Cécile DAVID</span></h1>
            <div class="link-container">
                <hr>
                <a routerLink="/domaines-intervention">Découvrir le cabinet</a>
                <hr>
            </div>
            <span class="main-screen-subtitle">
                Avocat<br>généraliste au<br>Barreau de<br>Rouen
            </span>
        </div>
    </section>
</article>
<article class="introduction">
    <div class="section-title">
        <hr>
        <h2>Votre<br>avocat<br>à <span>Rouen</span></h2>
    </div>
    <div class="introduction-content">
        <p>Inscrite au <strong>Barreau de Rouen</strong> depuis plus de 20 ans, je vous informe et vous conseille sur
            vos droits.</p>
        <p>Après avoir intégré l'IUT Carrières Juridiques de Rouen, j'ai poursuivi mes études au sein de la Faculté de
            Droit de Rouen où j'ai obtenu un <strong>D.E.S.S. Droit Privé de l'Activité Professionnelle</strong> et un
            <strong>D.E.S.S. en droit du contentieux, de la transaction et de la médiation</strong>.</p>
        <p>Ma pratique professionnelle m'a permis de plaider devant différentes juridictions et autorités dans toute la
            France.</p>
        <p>Ainsi, je peux vous assister ou représenter devant le Tribunal Judiciaire, la Cour d'Appel, le Juge des
            Contentieux de la Protection, le Juge des Enfants, le Tribunal de Commerce, …</p>
        <img src="../../assets/images/normandie.png" alt="Carte de la Normandie">
    </div>
</article>
<app-go-to-contact></app-go-to-contact>