<app-page-heading>
    <h1>Domaines<br>d'intervention</h1>
    <img src="../../assets/images/domaines.jpg" alt="Palais de justice de Rouen">
</app-page-heading>
<article class="domains-container">
    <div class="section-title">
        <hr>
        <h2>Découvrez&nbsp;les <span>domaines</span> dans lesquels j'interviens</h2>
    </div>
    <section>
        <details>
            <summary>
                <div class="summary-title">
                    <span>01</span>
                    <span>Droit de la famille</span>
                </div>
                <div class="summary-cta">
                    <span></span>
                    <span></span>
                </div>
            </summary>
            <p>Au-delà de l'aspect émotionnel, une séparation n'est jamais simple à gérer sur le plan juridique. Je vous
                assiste dans le cadre de séparation, divorce (par consentement mutuel, divorce contentieux), fixation de
                la résidence des enfants, audition d'enfants devant le Juge aux Affaires Familiales, ….</p>
        </details>
        <details>
            <summary>
                <div class="summary-title">
                    <span>02</span>
                    <span>Contentieux locatif</span>
                </div>
                <div class="summary-cta">
                    <span></span>
                    <span></span>
                </div>
            </summary>
            <p>Que vous soyez propriétaire ou locataire, le contrat de bail d’habitation répond à des normes précises.
                En cas de conflit avec votre contractant, je vous assiste pour trouver la solution adaptée à votre
                situation.</p>
        </details>
        <details>
            <summary>
                <div class="summary-title">
                    <span>03</span>
                    <span>Recouvrement des créances</span>
                </div>
                <div class="summary-cta">
                    <span></span>
                    <span></span>
                </div>
            </summary>
            <p>Vous êtes un professionnel et avez des factures impayées ?<br>
                Vous êtes un particulier et vous rencontrez des difficultés à obtenir remboursement de sommes dues ?<br>
                Nous déterminerons ensemble la stratégie de recouvrement à l'amiable ou judiciairement.
            </p>
        </details>
        <details>
            <summary>
                <div class="summary-title">
                    <span>04</span>
                    <span>Droit des mineurs</span>
                </div>
                <div class="summary-cta">
                    <span></span>
                    <span></span>
                </div>
            </summary>
            <p>Une convocation devant le Juge des Enfants pour une assistance éducative ou une affaire pénale ?<br>
                Une demande d'audition devant le Juge aux Affaires Familiales ?<br>
                J'assiste les mineurs pour faire entendre leur voix.
            </p>
        </details>
    </section>
</article>
<article class="what-for-container">
    <div>
        <hr>
        <h2>Un <span>avocat</span>, pour quoi faire ?</h2>
        <hr>
    </div>
    <p>L'image de l'Avocat dans l'esprit collectif est souvent celle des effets de manche lors des plaidoiries.</p>
    <p>En réalité, et avant tout, l'Avocat est un technicien du droit, auxiliaire de justice, qui est là pour vous
        accompagner dans vos démarches judiciaires mais également amiables.</p>
    <p>L'Avocat vous aide à trouver la solution juridique adaptée à votre situation.</p>
</article>
<app-go-to-contact></app-go-to-contact>