<app-page-heading>
    <h1>Domaines<br>d'intervention</h1>
    <img src="../../assets/images/domaines.jpg" alt="">
</app-page-heading>
<article class="domains-container">
    <div class="section-title">
        <hr>
        <h2>Découvrez&nbsp;les <span>domaines</span> dans lesquels j'interviens</h2>
    </div>
    <section>
        <details>
            <summary>
                <div class="summary-title">
                    <span>01</span>
                    <span>Droit de la famille</span>
                </div>
                <div class="summary-cta">
                    <span></span>
                    <span></span>
                </div>
            </summary>
            <p>Au-delà de l’aspect émotionnel, une séparation n’est jamais simple à gérer sur le plan juridique. Je vous
                assiste dans le cadre de séparation, divorce (par consentement mutuel, divorce contentieux), fixation de
                la résidence des enfants, audition d’enfants devant le Juge aux Affaires Familiales, ….</p>
        </details>
        <details>
            <summary>
                <div class="summary-title">
                    <span>02</span>
                    <span>Contientieux locatif</span>
                </div>
                <div class="summary-cta">
                    <span></span>
                    <span></span>
                </div>
            </summary>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat semper quam nec malesuada. In hac
                habitasse platea dictumst. Nullam accumsan sapien est, mattis ultrices ligula semper id. Phasellus
                auctor ut urna eget feugiat. Suspendisse eu suscipit turpis. Nunc diam dui, rutrum at ultrices sit amet,
                molestie vel turpis. Phasellus tincidunt lectus sed risus pellentesque, sed consequat turpis
                pellentesque.</p>
        </details>
        <details>
            <summary>
                <div class="summary-title">
                    <span>03</span>
                    <span>Recouvrement des créances</span>
                </div>
                <div class="summary-cta">
                    <span></span>
                    <span></span>
                </div>
            </summary>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat semper quam nec malesuada. In hac
                habitasse platea dictumst. Nullam accumsan sapien est, mattis ultrices ligula semper id. Phasellus
                auctor ut urna eget feugiat. Suspendisse eu suscipit turpis. Nunc diam dui, rutrum at ultrices sit amet,
                molestie vel turpis. Phasellus tincidunt lectus sed risus pellentesque, sed consequat turpis
                pellentesque.</p>
        </details>
        <details>
            <summary>
                <div class="summary-title">
                    <span>04</span>
                    <span>Droit des mineurs</span>
                </div>
                <div class="summary-cta">
                    <span></span>
                    <span></span>
                </div>
            </summary>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat semper quam nec malesuada. In hac
                habitasse platea dictumst. Nullam accumsan sapien est, mattis ultrices ligula semper id. Phasellus
                auctor ut urna eget feugiat. Suspendisse eu suscipit turpis. Nunc diam dui, rutrum at ultrices sit amet,
                molestie vel turpis. Phasellus tincidunt lectus sed risus pellentesque, sed consequat turpis
                pellentesque.</p>
        </details>
    </section>
</article>
<article class="what-for-container">
    <div>
        <hr>
        <h2>Un <span>avocat</span>, pour quoi faire ?</h2>
        <hr>
    </div>
    <p>L'image de l'Avocat dans l'esprit collectif est souvent celle des effets de manche lors des plaidoiries.</p>
    <p>En réalité, et avant tout, l'Avocat est un technicien du droit, auxiliaire de justice, qui est là pour vous accompagner dans vos démarches judiciaires mais également amiables.</p>
    <p>L'Avocat vous aide à trouver la solution juridique adaptée à votre situation.</p>
</article>
<app-go-to-contact></app-go-to-contact>